<!DOCTYPE html>
<html ng-app='velocity-viewer'>

<head>

    <!-- Basic setup -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.png">
    <title>Velocity Viewer</title>

    <!-- Load CSS dependencies -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/starter-template.css">
    <link rel="stylesheet" href="css/close.css">
    <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Custom CSS -->
    <style>
    .slider-selection {
        background: #BABABA;
    }
    </style>

    <!-- Load JS dependencies -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script src="bower_components/bootstrap-file-input/bootstrap.file-input.js"></script>

</head>

<!-- Navigation bar -->
<nav class="navbar-inverse navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="btn btn-inverse navbar-btn" data-toggle="modal" data-target="#dataModal">
            Manage Data</button>
        <a class="navbar-brand" href="" data-toggle="modal" data-target="#aboutModal">Velocity Viewer</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse"></div>
</nav>

<!-- Page body with app logic -->

<body>
    <div id="map-canvas"></div>
    <script src="js/canvas-draw.js"></script>
    <script src="js/upload_handle.js"></script>
</body>

<!-- Data Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="dataModalLabel">Manage Data</h4>
            </div>
            <div class="container" ng-controller="data_ctrl">
                <h6>Active Data Files</h6>
                <div class="container">
                    <ul>
                        <li ng-repeat="key in data_keys">{{ key }}
                            <button type="button" class="close_icon" aria-label="Close" ng-click="removeData(key)"><span aria-hidden="true">&times;</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <h6>Vector Scale Parameter</h6>
                <input class="slider_bs" data-slider-id="length" type="text" data-slider-min="0" data-slider-max="30" data-slider-step="1" data-slider-value="15" />
                <br>
                <br>
                <h6>Load STA.DATA File</h6>
                <input type="file" id="filebox" on-read-file="loadJSON($fileContent)">
                <br>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="aboutModalLabel">About Velocity Viewer</h4>
            </div>
            <div class="modal-body text-center">
                Velocity Viewer is a tool built to visualize and handle velocity field data. The tool is maintained by the research group of <a href="http://summit.fas.harvard.edu/">Brendan Meade</a> at Harvard.
                <br>
                <br> Realized by <a href="https://github.com/AntonioCoppola">Antonio Coppola</a>. Released under the MIT license. Copyright 2015.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Late-loading JS -->
<script src="js/slider_control.js"></script>

</html>